* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 14px;
}

nav a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: black;
  cursor: pointer;
  padding: 5px 6.7px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  opacity: 0.85;
}

nav img {
  width: 34px;
  padding: 5px;
  margin: auto 7px;
  cursor: pointer;
}

nav img:hover {
  opacity: 0.8;
}

nav button {
  border: 1px solid #4285f4;
  font-weight: bold;
  background: #4285f4;
  color: #fff;
  padding: 7px 12px;
  border-radius: 3px;
  margin-left: 7px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120px;
  flex: 1;
}

.logo {
  margin-top: 107px;
}

form {
  width: 580px;
  margin: 0px auto;
  position: relative;
  margin-top: -8px;
  text-align: center;
}

form .input {
  margin-top: 30px;
  display: block;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding: 13px;
  padding-left: 45px;
  border-radius: 25px;
  width: 100%;
}

form input:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.05),
    0 0 3px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(102, 86, 86, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05);
}

.search {
  width: 20px;
  opacity: 0.4;
  position: absolute;
  top: 44px;
  left: 14px;
}

.vs {
  width: 14px;
  position: absolute;
  top: 44px;
  right: 24px;
}

.btn {
  border: 1px solid transparent;
  padding: 9px 15px;
  color: #666;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 28px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #aaa;
}

.language {
  margin-top: 30px;
  font-size: 13px;
  color: #111;
}
.language a {
  margin-left: 5px;
  color: #1a0dab;
  text-decoration: none;
}

.language a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  background: #f2f2f2;
}

footer h4 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  line-height: 39.5px;
  font-weight: 400;
  padding-left: 29px;
  border: 1px solid #eee;
}

footer a {
  color: #5f6368;
  display: inline-block;
  padding: 12px 11.3px;
  font-size: 14px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.links {
  border-top: 1px solid #ddd;
  display: flex;
}

.link-1 {
  padding-left: 18.7px;
  flex: 1;
}

.link-2 {
  padding-right: 18.7px;
}
